[color]
    diff = auto
    status = auto
    branch = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[user]
    name = Praveen Kumar Srinivasan
    email = praveen.sxi@gmail.com
[credential]
    helper = osxkeychain
[push]
    default = simple
[init]
    defaultBranch = main
[pull]
    rebase = false
[alias]
    hist = log --oneline --graph --decorate
