[submodule "vim/.vim/bundle/vim-autotags"]
	path = vim/.vim/bundle/vim-autotags
	url = https://github.com/vim-scripts/autotags.git
[submodule "vim/.vim/bundle/vim-bufkill"]
	path = vim/.vim/bundle/vim-bufkill
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "vim/.vim/bundle/vim-ctrlp"]
	path = vim/.vim/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-easymotion"]
	path = vim/.vim/bundle/vim-easymotion
	url = https://github.com/vim-scripts/EasyMotion.git
[submodule "vim/.vim/bundle/vim-easyalign"]
	path = vim/.vim/bundle/vim-easyalign
	url = https://github.com/vim-scripts/vim-easy-align.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-gundo"]
	path = vim/.vim/bundle/vim-gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/.vim/bundle/vim-nerdtree"]
	path = vim/.vim/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/vim-colorschemes"]
	path = vim/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
